<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault()">
  <ngb-panel id="static-1">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0" style = "text-align: center">Select Project</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <div style = "text-align: center">Project:
        <label style = "width: 50%">
          <ng-select [items]="listProject"
                     bindLabel="Project Name"
                     appendTo="body"
                     bindValue="Project Name"
                     (change)="onSelectProject($event)">
          </ng-select>
        </label>
      </div>

      <div style = "text-align: center">
        <label class="btn-primary" (click)="onContinue()" ngbButtonLabel>Confirm</label>
      </div>

    </ng-template>

  </ngb-panel>
</ngb-accordion>
