<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Roles</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <label class="btn-success" (click)="onPopUp(modalAddRecordGroup)" ngbButtonLabel>Add Role</label>

      <br>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Role Name</th>
          </tr>

          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
              <input [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of getListRoles(); let id = index">
            <td>
              {{id + 1}}
            </td>
            <td>
              <div *ngIf="data.name !== 'admin'">
                <label style = "margin-top: -0.5em" class="btn" (click)="onPopUpDataRecordGroup(modalEditRecordGroup, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
                <label style = "margin-top: -0.5em" class="btn" (click)="onPopUpDataRecordGroup(modalDelete, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
              </div>
            </td>
            <td>{{data.name}}</td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="listFilteredRole.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
          </select>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddRecordGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add New Role</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label style = "width: 30%; float: left;">
      Role Name:
    </label>
    <input style = "width: 50%; float: left" type="text" [(ngModel)]="newRole.name">

    <br style = "clear: both">

  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveAddRole()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditRecordGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-edit">Edit Role</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label style = "width: 30%; float: left;">
      Role Name:
    </label>
    <input style = "width: 50%; float: left" type="text" [(ngModel)]="popUpRole.name">

    <br style = "clear: both">
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveEdit()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Role deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete role <span class="text-primary">"{{popUpRole.name}}"</span> ?</strong></p>
    <p>All information associated to this project will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDelete(popUpId)">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
