<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Projects</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <label class="btn-success" (click)="onPopUpAddProject(modalAddProject, true)" ngbButtonLabel>Add Project</label>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">Project ID</th>
          <th scope="col">Project Name</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">
            <input [(ngModel)] = "listSearch.id" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
          </th>
          <th scope="col">
            <input [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let data of getListProject(), let id = index">
          <td>{{id + 1}}</td>
          <td>
            <label style = "margin-top: -0.5em" class="btn" (click)="onPopUpDataProject(modalEditProject, true, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
            <label style = "margin-top: -0.5em" class="btn" (click)="onPopUpDelete(modalDelete, false, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
          </td>
          <td>{{data['Project ID']}}</td>
          <td>{{data['Project Name']}}</td>
        </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="listFilteredProject.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="50">50 items per page</option>
          <option [ngValue]="100">100 items per page</option>
        </select>
      </div>
    </ng-template>

  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add New Project</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Field Name</th>
        <th scope="col">Field Value</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Project ID</th>
        <td>
          <input type="text" [(ngModel)]="newProject['Project ID']">
        </td>
        <td></td>
      </tr>

      <tr>
        <th>Project Name</th>
        <td>
          <input type="text" [(ngModel)]="newProject['Project Name']">
        </td>
        <td></td>
      </tr>

      <tr *ngFor = "let field of listProjectField; let id = index">
        <th><input type="text" [(ngModel)]="field.name"></th>
        <td>
          <input type="text" [(ngModel)]="field.value">
        </td>
        <td>
          <label class="btn" (click)="onDeleteProjectField(id)" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onAddNewField()">Add Field</button>
    <button type="button" class="btn btn-primary" (click)="onSaveAdd()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-edit">Edit Project</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Field Name</th>
        <th scope="col">Field Value</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Project ID</th>
        <td>
          <input type="text" [(ngModel)]="listFilteredProject[popUpId]['Project ID']">
        </td>
        <td></td>
      </tr>

      <tr>
        <th>Project Name</th>
        <td>
          <input type="text" [(ngModel)]="listFilteredProject[popUpId]['Project Name']">
        </td>
        <td></td>
      </tr>

      <tr *ngFor = "let field of listProjectField; let id = index">
        <th><input type="text" [(ngModel)]="field.name"></th>
        <td>
          <input type="text" [(ngModel)]="field.value">
        </td>
        <td>
          <label class="btn" (click)="onDeleteProjectField(id)" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onAddNewField()">Add Field</button>
    <button type="button" class="btn btn-primary" (click)="onSaveEdit()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Project deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete project <span class="text-primary">"{{deleteProjectName}}"</span> ?</strong></p>
    <p>All information associated to this project will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDelete(deleteId)">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
