<title>ERICSSON</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:160px;" id="mySidebar">

      <button class="w3-button w3-block w3-left-align  btn_slidebar fa fa-folder" (click)="myAccFunc(); onChangeForm() ">
      VNM SITE <i class="fa fa-caret-down"></i>
      </button>
      <div id="demoAcc" class="w3-hide w3-white w3-card">
        <button class="w3-button w3-block w3-left-align  btn_slidebar"  (click)="myAccFunc(); onChangeForm() " > 
            VNM SITE <i class="fa fa-caret-down"></i>
        </button>
        <div id="demoAcc" class="w3-hide w3-white w3-card">
        <a href="#" class="w3-bar-item w3-button glyphicon glyphicon-cloud"> North</a>
        <a href="#" class="w3-bar-item w3-button glyphicon glyphicon-cloud">Central</a>
        <a href="#" class="w3-bar-item w3-button glyphicon glyphicon-cloud">South</a>
      </div>
      </div>
    
      <button class="w3-button w3-block w3-left-align  btn_slidebar fa fa-folder" (click)="myAccFunc2(); onChangeForm()" >
        AMS DATA <i class="fa fa-caret-down"></i>
        </button>
        <div id="demoAcc 2" class="w3-hide w3-white w3-card">
          <a  (click)="onSearchTRAN()" class="w3-bar-item w3-button">TRAN</a>
          <a (click)="onSearchRAN()" class="w3-bar-item w3-button">RAN</a>
        </div>
    </div>