<body>
<div class = "login-box">
  <h1>Login</h1>
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm" ngNativeValidate>
    <div class = "text-box">
      <i class = "fa fa-user" aria-hidden = "true"></i>
      <input type = "text" placeholder="Username" formControlName="username" required>
    </div>
    <div class = "text-box">
      <i class = "fa fa-lock" aria-hidden = "true"></i>
      <input type = "password" placeholder="Password" formControlName="password" required>
    </div>
    <p>
      <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
    </p>
    <button type = "submit" class = "btn">Login</button>
  </form>
</div>
</body>

<!--  <div class = "text-box">-->
<!--    <i class = "fa fa-user" aria-hidden = "true"></i>-->
<!--    <input type = "text" placeholder="Username" name = "" value = "">-->
<!--  </div>-->
<!--  <div class = "text-box">-->
<!--    <i class = "fa fa-lock" aria-hidden = "true"></i>-->
<!--    <input type = "password" placeholder="Password" name = "" value = "">-->
<!--  </div>-->