<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Tables</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <div style = "text-align: center">
        <button style = "float: left" type="button" class="btn btn-success" (click)="onPopUp(modalAddTable, false)">Add Table</button>
        <button *ngIf = "selectedTable" style = "margin-left: 0.5em; float: left" type="button" class="btn btn-danger" (click)="onPopUp(modalDeleteTable, false)" ngbButtonLabel>Delete Table</button>

        Table:
        <label style = "width: 50%">
          <ng-select [items]="listTable"
                     bindLabel="name"
                     appendTo="body"
                     bindValue="name"
                     (change)="onSelectTable($event)">
          </ng-select>
        </label>
      </div>

      <br>

      <div *ngIf = "selectedTable">
        <label class="btn-success" (click)="onPopUp(modalAddField, false)" ngbButtonLabel>Add Field</label>
        <label style="margin-left: 0.5em" class="btn-primary" (click)="onSaveField()" ngbButtonLabel>Save</label>
        <label class="d-inline-block" style = "margin-left: 0.5em" ngbDropdown>
          <button class="btn btn-secondary" style = "margin-top: -0.5em" id="dropdownBasic2" ngbDropdownToggle>Upload</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem (click)="importBtn.click()">Upload</button>
            <button ngbDropdownItem (click)="onDownloadTemplate()">Download Template</button>
          </div>
        </label>
        <input #importBtn type="file" class="file-input" (change)="onFileChangedImportTable($event)" style="position: absolute; display: none"/>
        <table class="table table-striped" cdkDropList (cdkDropListDropped)="drop($event)">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Field Name</th>
            <th scope="col">Field Type</th>
            <th scope="col">Is Unique</th>
            <th scope="col">Is Primary Key</th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th></th>
            <th scope="col">
              <input [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearch.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of listFilteredField, let idField = index">
            <td cdkDrag>
              <select [value]="idField + 1" (change)="onSelectSortId(idField, $event)">
                <option *ngFor="let value of listField; let number = index" [value] = "number + 1">
                  {{number + 1}}
                </option>
              </select>
            </td>
            <td>
              <div *ngIf="data.type !== 'Auto Increment'">
                <label class="btn" (click)="onPopUpEditField(modalEditField, false, idField)" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
                <label *ngIf = "data.name !== selectedTable.primary_key" class="btn" (click)="onPopUpSelectedIndex(modalDeleteField, idField)"><mat-icon style="font-size: 15px">delete</mat-icon></label>
              </div>
            </td>
            <td>
              {{data.field_name}}
            </td>
            <td>
              {{data.type}}
            </td>
            <td>
              <input type = checkbox [(ngModel)] = "data.is_unique" disabled>
            </td>
            <td>
              <input type = checkbox [(ngModel)] = "data.is_primary_key" disabled>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddTable let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add New Table</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Table Name:
      </label>
      <label style="width: 50%; float: left">
        <input type="text" [(ngModel)]="newTable.name">
      </label>
      <br style="clear:both">
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Use default primary key:
      </label>
      <label style="width: 50%; float: left">
        <input type="checkbox" [(ngModel)]="newTable.default_primary_key">
      </label>
      <br style="clear:both">
    </div>

    <div *ngIf="!newTable.default_primary_key">
      <div>
        <label style="width: 30%; float: left; font-weight: bold">
          Primary Key:
        </label>
        <label style="width: 50%; float: left">
          <input type="text" [(ngModel)]="newTable.primary_key_name">
        </label>
        <br style="clear:both">
      </div>

      <div>
        <label style="width: 30%; float: left; font-weight: bold">
          Data Type:
        </label>
        <label style="width: 50%; float: left">
          <select [(ngModel)]="newTable.primary_key_type">
            <option>Text</option>
            <option>Number</option>
          </select>
        </label>
        <br style="clear:both">
      </div>
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onAddTable()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDeleteTable let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-delete-form">Table deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete table <span class="text-primary">"{{selectedTable.name}}"</span> ?</strong></p>
    <p>All information associated to this form will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteTable()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalAddField let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Field</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Field Name:
      </label>
      <label style="width: 40%; float: left">
        <input type="text" [(ngModel)]="newField.field_name">
      </label>
      <br style="clear:both">
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Field Type:
      </label>
      <label style="width: 40%; float: left">
        <select [(ngModel)]="newField.type" (change) = "onSelectNewFieldType()">
          <option>Text</option>
          <option>Number</option>
          <option>Date</option>
          <option>Datetime</option>
          <option>Dropdown</option>
          <option>Checkbox</option>
          <option>File</option>
          <option>Relation</option>
          <!--                    <option>Table</option>-->
        </select>
      </label>
      <br style="clear:both">
    </div>

    <div *ngIf="newField.type === 'Dropdown'">
      <label style="width: 30%; float: left; font-weight: bold">
        Values:
      </label>
      <label style="width: 40%; float: left">
        <label class="btn" (click)="onPopUpDropdownAddField(modalDropdownAddField, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
      </label>
      <br style="clear:both">
    </div>

    <div *ngIf="newField.type === 'Table'">
      <label style="width: 30%; float: left; font-weight: bold">
        Values:
      </label>
      <label style="width: 40%; float: left">
        <label class="btn" (click)="onPopUp(modalTable, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
      </label>
      <br style="clear:both">
    </div>

    <div *ngIf="newField.type === 'Relation'">
      <div>
        <label style="width: 30%; float: left; font-weight: bold">
          Relation to table:
        </label>
        <label style="width: 40%; float: left">
          <select [(ngModel)]="newField.values.table_id" (change)="onSelectTableRelation(true, true)">
            <option *ngFor="let table of listTable" [value] = "table._id">
              {{table.name}}
            </option>
          </select>
        </label>
        <br style="clear:both">
      </div>

      <div *ngIf = "newField.values.table_id">
        <label style="width: 30%; float: left; font-weight: bold">
          Field Relation:
        </label>
        <label style="width: 40%; float: left">
          <select [(ngModel)]="newField.values.field_id">
            <option *ngFor="let field of listFieldRelation" [value]="field.field_id">
              {{field.field_name}}
            </option>
          </select>
        </label>
        <br style="clear:both">
      </div>
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Is Unique:
      </label>
      <label style="width: 40%; float: left">
        <input type = checkbox [(ngModel)] = "newField.is_unique">
      </label>
      <br style="clear:both">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onAddField()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditField let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Field</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Field Name:
      </label>
      <label style="width: 40%; float: left">
        <input type="text" [(ngModel)]="popUpField.field_name">
      </label>
      <br style="clear:both">
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Field Type:
      </label>
      <label style="width: 40%; float: left">
        <select [(ngModel)]="popUpField.type" (change) = "onSelectFieldType()">
          <option>Text</option>
          <option>Number</option>
          <option>Date</option>
          <option>Datetime</option>
          <option>Dropdown</option>
          <option>Checkbox</option>
          <option>File</option>
          <option>Relation</option>
          <!--                    <option>Table</option>-->
        </select>
      </label>
      <br style="clear:both">
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Is Unique:
      </label>
      <label style="width: 40%; float: left">
        <input type = checkbox [(ngModel)] = "popUpField.is_unique">
      </label>
      <br style="clear:both">
    </div>

    <div *ngIf="popUpField.type === 'Dropdown'">
      <label style="width: 30%; float: left; font-weight: bold">
        Values:
      </label>
      <label style="width: 40%; float: left">
        <label class="btn" (click)="onPopUpDropdown(modalDropdown, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
      </label>
      <br style="clear:both">
    </div>

<!--    <div *ngIf="popUpField.type === 'Table'">-->
<!--      <label style="width: 30%; float: left; font-weight: bold">-->
<!--        Values:-->
<!--      </label>-->
<!--      <label style="width: 40%; float: left">-->
<!--        <label class="btn" (click)="onPopUp(modalTable, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>-->
<!--      </label>-->
<!--      <br style="clear:both">-->
<!--    </div>-->

    <div *ngIf="popUpField.type === 'Relation'">
      <div>
        <label style="width: 30%; float: left; font-weight: bold">
          Relation to table:
        </label>
        <label style="width: 40%; float: left">
          <select [(ngModel)]="popUpField.values.table_id" (change) = "onSelectTableRelation(false, true)">
            <option *ngFor="let table of listTable" [value] = "table._id">
              {{table.name}}
            </option>
          </select>
        </label>
        <br style="clear:both">
      </div>

      <div *ngIf = "popUpField.values.table_id">
        <label style="width: 30%; float: left; font-weight: bold">
          Field Relation:
        </label>
        <label style="width: 40%; float: left">
          <select [(ngModel)]="popUpField.values.field_id">
            <option *ngFor="let field of listFieldRelation" [value]="field.field_id">
              {{field.field_name}}
            </option>
          </select>
        </label>
        <br style="clear:both">
      </div>
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveEditField()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDeleteField let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Field deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete field <span class="text-primary">"{{popUpField.field_name}}"</span> ?</strong></p>
    <p>All information associated to this form will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteField()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDropdown let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-select">Dropdown Content</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let data of listSelect; let idSelect = index; trackBy: trackBy">
      <input type="text" [(ngModel)]="listSelect[idSelect]">
      <label class="btn" style = "margin: auto" (click)="onDeleteSelect(idSelect)"><mat-icon style = "font-size: 15px">delete</mat-icon></label>
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onAddSelectValue()">Add</button>
    <button type="button" class="btn btn-primary" (click)="onSaveValues()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalDropdownAddField let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Dropdown Content</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let data of listSelect; let idSelect = index; trackBy: trackBy">
      <input type="text" [(ngModel)]="listSelect[idSelect]">
      <label class="btn" style = "margin: auto" (click)="onDeleteSelect(idSelect)"><mat-icon style = "font-size: 15px">delete</mat-icon></label>
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onAddSelectValue()">Add</button>
    <button type="button" class="btn btn-primary" (click)="onSaveAddValues()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalTable let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-table">{{popUpField.field_name}} Content</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style = "width: 50%; float: left">
      Number of Columns: <input type="number" [(ngModel)]="numCol">
    </div>
    <div style = "width: 50%; float: left">
      Number of Rows: <input type="number" [(ngModel)]="numRow">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
