<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Rules</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <div class = "row">
        <div class = "column-left">
          <h5 style = "text-align: center">
            Rule Groups
          </h5>
          <label class="btn-success" (click)="onPopUp(modalAddRuleGroup, false)" ngbButtonLabel>Add Rule Group</label>
          <label class="btn-primary" style = "margin-left: 0.5em" (click)="onSaveSortId()" ngbButtonLabel>Save</label>
          <br>
          <div>
            <table class="table table-striped" cdkDropList (cdkDropListDropped)="drop($event)">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Rule Group Name</th>
              </tr>

              <tr>
                <th scope="col"></th>
                <th></th>
                <th scope="col">
                  <input [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let data of getListRuleGroups(); let id = index">
                <td cdkDrag>
                  <select [value]="getCurrentId(id) + 1" (change)="onSelectSortId(getCurrentId(id), $event)">
                    <option *ngFor="let value of listRuleGroups; let number = index" [value] = "number + 1">
                      {{number + 1}}
                    </option>
                  </select>
                </td>
                <td>
                  <label class="btn" (click)="onSelectRuleGroups(getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">pageview</mat-icon></label>
                  <label class="btn" (click)="onPopUpDataRuleGroup(modalEditRuleGroup, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
                  <label class="btn" (click)="onPopUpDataRuleGroup(modalDelete, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
                </td>
                <td>{{data.name}}</td>
              </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="listFilteredRuleGroups.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
              </select>
            </div>
          </div>
        </div>

        <div class = "column-right border-left">
          <div *ngIf = "selectedRuleGroup">
            <h5 style = "text-align: center">
              Rule Group: {{selectedRuleGroup.name}}
            </h5>
            <button type="button" class="btn btn-success" (click)="onPopUpAddRule(modalRule, true)">Add Rule</button>
            <button style = "margin-left: 0.5em" type="button" class="btn btn-primary" (click)="onSaveSortIdRule()">Save</button>
            <table class="table table-striped" cdkDropList (cdkDropListDropped)="dropRule($event)" style = "margin-top: 0.5em">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Rule Name</th>
                <th scope="col">Trigger Table</th>
              </tr>
              <tr>
                <th scope="col"></th>
                <th></th>
                <th scope="col">
                  <input [(ngModel)] = "listSearchRule.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterRule()">
                </th>
                <th scope="col">
                  <input [(ngModel)] = "listSearchRule.trigger_table" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterRule()">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rule of getListRules(), let id = index">
                <td cdkDrag>
                  <select [value]="getCurrentIdRule(id) + 1" (change)="onSelectSortIdRule(getCurrentIdRule(id), $event)">
                    <option *ngFor="let value of listRules; let number = index" [value] = "number + 1">
                      {{number + 1}}
                    </option>
                  </select>
                </td>
                <td>
                  <label class="btn" (click)="onPopUpRule(modalRule, getCurrentIdRule(id), true)" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
                  <label class="btn" (click)="onPopUpRule(modalDeleteRule, getCurrentIdRule(id), false)" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
                </td>
                <td>
                  {{rule.name}}
                </td>
                <td>
                  {{rule.trigger_table}}
                </td>
              </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="listFilteredRules.length" [(page)]="pageRule" [pageSize]="pageSizeRule" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeRule">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddRuleGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add Rule Group</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label style = "width: 30%; float: left;">
      Rule Group Name:
    </label>
    <input style = "width: 50%; float: left" type="text" [(ngModel)]="newRuleGroups.name">

    <br style = "clear: both">

  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveAddRuleGroup()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditRuleGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-edit">Edit Rule Group</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label style = "width: 30%; float: left;">
      Rule Group Name:
    </label>
    <input style = "width: 50%; float: left" type="text" [(ngModel)]="popUpRuleGroup.name">

    <br style = "clear: both">
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveEditRuleGroup()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Rule Group deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete rule group <span class="text-primary">"{{popUpRuleGroup.name}}"</span> ?</strong></p>
    <p>All information associated to this project will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDelete(popUpRuleGroupId)">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalRule let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Rule</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style = "background-color: #E8E8E8">
    <div style = "text-align: center" *ngIf = "!popUpRule._id">
      <label style = "font-weight: bold">
        Copy Rule From:
      </label>
      <label style = "margin-left: 0.5em; width: 30%">
        <ng-select style = "margin-left: 0.5em"
                   [items]="listRules"
                   bindLabel="name"
                   appendTo="body"
                   (change)="onCopyRule($event)">
        </ng-select>
      </label>
      <br><br>
    </div>

    <div style = "text-align: center">
      <label style = "font-weight: bold">
        Rule Name:
      </label>
      <label style = "margin-left: 0.5em">
        <input type = "text" [(ngModel)]="popUpRule.name">
      </label>
    </div>

    <div style = "text-align: center">
      <label style = "font-weight: bold">
        Rule Group:
      </label>
      <label style = "margin-left: 0.5em">
        <select [(ngModel)]="popUpRule.rule_group_id">
          <option *ngFor="let group of listRuleGroups" [value]="group._id">{{group.name}}</option>
        </select>
      </label>
    </div>

    <div style = "background-color: #fafafa">
      <h4 style = "font-size: 20px; color: white; height: 30px; background-color: #8B8B8B">
        <div style = "margin-top: 2.5px; margin-left: 0.5em; text-align: center">
          Trigger
        </div>
      </h4>

      <div style = "margin-left: 1em">
        <div style = "text-align: center">
          <label style = "font-weight: bold">
            Trigger Table:
          </label>
          <label style = "width: 50%">
            <ng-select style = "margin-left: 0.5em"
                       [items]="listTable"
                       bindLabel="name"
                       appendTo="body"
                       bindValue="name"
                       [(ngModel)]="popUpRule.trigger_table"
                       (change)="onSelectTriggerTable($event)">
            </ng-select>
          </label>
        </div>

        <div *ngIf = "selectedTriggerTable">
          <label style="margin-right: 0.5em" class="btn-success" (click)="onAddCondition()" ngbButtonLabel>Add Condition</label>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Compare Type</th>
              <th scope="col" style = "min-width: 200px">Field Name</th>
              <th scope="col" style = "min-width: 150px">Operator</th>
              <th scope="col" style = "min-width: 100px">Value</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let condition of listConditions, let id = index">
              <td>
                <select [(ngModel)]="condition.condition" *ngIf="id !== 0">
                  <option>AND</option>
                  <option>OR</option>
                </select>
              </td>
              <td>
                <select [(ngModel)]="condition.compare_type">
                  <option>Absolute</option>
                  <option>Other Field</option>
                  <option>Keyword</option>
                  <option>Record Keyword</option>
                </select>
              </td>

              <ng-container *ngIf = "condition.compare_type === 'Absolute'">
                <td>
                  <ng-select [items]="listFieldTrigger"
                             bindLabel="field_name"
                             appendTo="body"
                             bindValue="field_id"
                             [(ngModel)]="condition.field_id">
                  </ng-select>
                </td>
                <td>
                  <div *ngIf = "condition.field_id">
                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Text' || selectedTriggerTable.metadata[condition.field_id].type === 'Relation'">
                      <select [(ngModel)]="condition.operator">
                        <option>Equal to</option>
                        <option>Not equal to</option>
                        <option>Start with</option>
                        <option>Not start with</option>
                        <option>Contains</option>
                        <option>Not contains</option>
                      </select>
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Number' || selectedTriggerTable.metadata[condition.field_id].type === 'Auto Increment' || selectedTriggerTable.metadata[condition.field_id].type === 'Date' || selectedTriggerTable.metadata[condition.field_id].type === 'Datetime'">
                      <select [(ngModel)]="condition.operator">
                        <option value = "Equal to">=</option>
                        <option value = "Not equal to">≠</option>
                        <option value = "Greater than">></option>
                        <option value = "Smaller than"><</option>
                        <option value = "Greater than or equal to">≥</option>
                        <option value = "Less than or equal to">≤</option>
                      </select>
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Dropdown' || selectedTriggerTable.metadata[condition.field_id].type === 'Checkbox'">
                      <select [(ngModel)]="condition.operator">
                        <option value = "Equal to">=</option>
                        <option value = "Not equal to">≠</option>
                      </select>
                    </div>

                  </div>
                </td>
                <td>
                  <div *ngIf = "condition.field_id">
                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Text' || selectedTriggerTable.metadata[condition.field_id].type === 'Relation'">
                      <input type = "text" [(ngModel)]="condition.value">
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Number' || selectedTriggerTable.metadata[condition.field_id].type === 'Auto Increment'">
                      <input type = "number" [(ngModel)]="condition.value">
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Date'">
                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="condition.value">
                      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Datetime'">
                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="condition.value">
                      <owl-date-time #dt3></owl-date-time>
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Dropdown'">
                      <select [(ngModel)]="condition.value">
                        <option *ngFor = "let value of selectedTriggerTable.metadata[condition.field_id].values">
                          {{value}}
                        </option>
                      </select>
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Checkbox'">
                      <input type = "checkbox" [(ngModel)]="condition.value">
                    </div>

                  </div>
                </td>
              </ng-container>

              <ng-container *ngIf = "condition.compare_type === 'Other Field'">
                <td>
                  <ng-select [items]="listFieldTrigger"
                             bindLabel="field_name"
                             appendTo="body"
                             bindValue="field_id"
                             [(ngModel)]="condition.field_id">
                  </ng-select>
                </td>
                <td>
                  <div *ngIf = "condition.field_id">
                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type === 'Number' || selectedTriggerTable.metadata[condition.field_id].type === 'Auto Increment' || selectedTriggerTable.metadata[condition.field_id].type === 'Date' || selectedTriggerTable.metadata[condition.field_id].type === 'Datetime'">
                      <select [(ngModel)]="condition.operator">
                        <option value = "Equal to">=</option>
                        <option value = "Not equal to">≠</option>
                        <option value = "Greater than">></option>
                        <option value = "Smaller than"><</option>
                        <option value = "Greater than or equal to">≥</option>
                        <option value = "Less than or equal to">≤</option>
                      </select>
                    </div>

                    <div *ngIf = "selectedTriggerTable.metadata[condition.field_id].type !== 'Number' && selectedTriggerTable.metadata[condition.field_id].type !== 'Auto Increment' && selectedTriggerTable.metadata[condition.field_id].type !== 'Date' && selectedTriggerTable.metadata[condition.field_id].type !== 'Datetime'">
                      <select [(ngModel)]="condition.operator">
                        <option value = "Equal to">=</option>
                        <option value = "Not equal to">≠</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <ng-select [items]="listFieldTrigger"
                             bindLabel="field_name"
                             appendTo="body"
                             bindValue="field_id"
                             [(ngModel)]="condition.value">
                  </ng-select>
                </td>
              </ng-container>

              <ng-container *ngIf = "condition.compare_type === 'Keyword'">
                <td>
                  <ng-select [items]="listFieldTrigger"
                             bindLabel="field_name"
                             appendTo="body"
                             bindValue="field_id"
                             [(ngModel)]="condition.field_id">
                  </ng-select>
                </td>
                <td>=</td>
                <td>
                  <select [(ngModel)]="condition.value">
                    <option>Has no value</option>
                    <option>Inserted</option>
                    <option>Updated</option>
                    <option>Deleted</option>
                  </select>
                </td>
              </ng-container>

              <ng-container *ngIf = "condition.compare_type === 'Record Keyword'">
                <td></td>
                <td>=</td>
                <td>
                  <select [(ngModel)]="condition.value">
                    <option>Created</option>
                    <option>Updated</option>
                    <option>Deleted</option>
                  </select>
                </td>
              </ng-container>


              <ng-container *ngIf = "!condition.compare_type">
                <td></td>
                <td></td>
                <td></td>
              </ng-container>
              <td>
                <label class="btn" (click)="onDeleteCondition(id)" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
              </td>
            </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>

    <div style = "background-color: #fafafa; margin-top: 2em">
      <h4 style = "font-size: 20px; color: white; height: 30px; background-color: #8B8B8B">
        <div style = "margin-top: 2.5px; margin-left: 0.5em; text-align: center">
          Target
        </div>
      </h4>

      <div style = "margin-left: 0.5em">
        <label class="btn-success" (click)="onAddAction()" ngbButtonLabel>Add Action</label>
        <table class="table table-striped table-scroll">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Action</th>
            <th scope="col" style = "min-width: 200px"></th>
            <th scope="col" style = "min-width: 250px"></th>
            <th scope="col" style = "min-width: 200px"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let action of listActions, let id = index">
            <td>
              {{id + 1}}
            </td>
            <td>
              <select [(ngModel)]="action.action_type">
                <option>Set Value</option>
                <option>Set Value by Function</option>
                <option>Send Mail</option>
              </select>
            </td>

            <td>
              <div *ngIf = "action.action_type">
                <div *ngIf = "action.action_type === 'Set Value' || action.action_type === 'Set Value by Function'">
                  <ng-select style = "margin-left: 0.5em"
                             [items]="listTable"
                             bindLabel="name"
                             appendTo="body"
                             bindValue="name"
                             placeholder="Target Table"
                             [(ngModel)]="action.target_table"
                             (change)="onSelectTargetTable($event, id)">
                  </ng-select>
                </div>

                <div *ngIf = "action.action_type === 'Send Mail'">
                  <button type="button" class="btn btn-sm btn-secondary" (click)="onPopUpRecipient(modalRecipient, true, id)">To...</button>
                  <input style = "margin-left: 0.5em" type = "text" [(ngModel)]="recipients[id]" disabled placeholder="Recipients">
                </div>
              </div>
            </td>

            <td>
              <div *ngIf = "action.action_type === 'Set Value' || action.action_type === 'Set Value by Function'">
                <div *ngIf = "action.target_table">
                  <ng-select [items]="listFieldTarget[id]"
                             bindLabel="field_name"
                             appendTo="body"
                             bindValue="field_id"
                             placeholder="Target Field"
                             [(ngModel)]="action.target_field">
                  </ng-select>
                </div>
              </div>

              <div *ngIf = "action.action_type === 'Send Mail'">
                <input type = "text" [(ngModel)]="action.subject" placeholder="Subject">
              </div>
            </td>

            <td>
              <div *ngIf = "action.action_type === 'Set Value'">
                <div *ngIf = "action.target_field">

                  <div *ngIf = "action.target_field === 'record_group'">
                    <select [(ngModel)]="action.value">
                      <option *ngFor = "let value of listRecordGroup">
                        {{value.name}}
                      </option>
                    </select>
                  </div>

                  <div *ngIf = "action.target_field !== 'record_group'">
                    <div *ngIf = "selectedTargetTable[id].metadata[action.target_field].type === 'Text' || selectedTargetTable[id].metadata[action.target_field].type === 'Relation'">
                      <input type = "text" [(ngModel)]="action.value">
                    </div>

                    <div *ngIf = "selectedTargetTable[id].metadata[action.target_field].type === 'Number' || selectedTargetTable[id].metadata[action.target_field].type === 'Auto Increment'">
                      <input type = "number" [(ngModel)]="action.value">
                    </div>

                    <div *ngIf = "selectedTargetTable[id].metadata[action.target_field].type === 'Date'">
                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="action.value">
                      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                    </div>

                    <div *ngIf = "selectedTargetTable[id].metadata[action.target_field].type === 'Datetime'">
                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="action.value">
                      <owl-date-time #dt3></owl-date-time>
                    </div>

                    <div *ngIf = "selectedTargetTable[id].metadata[action.target_field].type === 'Dropdown'">
                      <select [(ngModel)]="action.value">
                        <option *ngFor = "let value of selectedTargetTable[id].metadata[action.target_field].values">
                          {{value}}
                        </option>
                      </select>
                    </div>

                    <div *ngIf = "selectedTargetTable[id].metadata[action.target_field].type === 'Checkbox'">
                      <input type = "checkbox" [(ngModel)]="action.value">
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf = "action.action_type === 'Set Value by Function'">
                <div *ngIf = "action.target_field">
                  <label for = "textarea"></label>
                  <textarea id = "textarea" rows="4" cols="50" [(ngModel)]="action.value"></textarea>
                </div>
              </div>

              <div *ngIf = "action.action_type === 'Send Mail'">
                <label>
                  <textarea [(ngModel)]="action.content" rows="5" cols="50" placeholder="Content"></textarea>
                </label>
              </div>
            </td>

            <td>
              <label class="btn" (click)="onPopUpAction(modalAction, true, id)" ngbButtonLabel><mat-icon style="font-size: 15px">filter_none</mat-icon></label>
              <label class="btn" (click)="onDeleteAction(id)" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
    <p style = "margin-top: 0.5em">
      <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveRule()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalDeleteRule let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-delete-form">Data deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete rule <span class="text-primary">"{{popUpRuleId}}"</span> ?</strong></p>
    <p>All information associated to this rule will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteRule()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalAction let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Action</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div>
      <div style = "width: 30%; float: left; font-weight: bold">
        Action
      </div>
      <div style = "width: 40%; float: left">
        <select [(ngModel)]="popUpAction.action_type">
          <option>Set Value</option>
          <option>Set Value by Function</option>
          <option>Send Mail</option>
        </select>
      </div>
      <br style="clear:both">

      <div *ngIf = "popUpAction.action_type">
        <div *ngIf = "popUpAction.action_type === 'Set Value' || popUpAction.action_type === 'Set Value by Function'">
          <div style = "margin-top: 0.5em">
            <div style = "width: 30%; float: left; font-weight: bold">
              Target Table
            </div>
            <div style = "width: 40%; float: left">
              <ng-select [items]="listTable"
                         bindLabel="name"
                         appendTo="body"
                         bindValue="name"
                         placeholder="Target Table"
                         [(ngModel)]="popUpAction.target_table"
                         (change)="onSelectTargetTable($event, popUpActionId)">
              </ng-select>
            </div>
            <br style="clear:both">
          </div>

          <div *ngIf = "popUpAction.target_table">
            <div style = "margin-top: 0.5em">
              <div style = "width: 30%; float: left; font-weight: bold">
                Target Field
              </div>
              <div style = "width: 40%; float: left">
                <ng-select [items]="listFieldTarget[popUpActionId]"
                           bindLabel="field_name"
                           appendTo="body"
                           bindValue="field_id"
                           placeholder="Target Field"
                           [(ngModel)]="popUpAction.target_field">
                </ng-select>
              </div>
              <br style="clear:both">
            </div>
          </div>

          <div *ngIf = "popUpAction.target_field">
            <div style = "margin-top: 0.5em">
              <div style = "width: 30%; float: left; font-weight: bold">
                Value
              </div>
              <div style = "width: 40%; float: left">
                <div *ngIf="popUpAction.action_type === 'Set Value'">
                  <div *ngIf = "popUpAction.target_field === 'record_group'">
                    <select [(ngModel)]="popUpAction.value">
                      <option *ngFor = "let value of listRecordGroup">
                        {{value.name}}
                      </option>
                    </select>
                  </div>

                  <div *ngIf = "popUpAction.target_field !== 'record_group'">
                    <div *ngIf = "selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Text' || selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Relation'">
                      <input type = "text" [(ngModel)]="popUpAction.value">
                    </div>

                    <div *ngIf = "selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Number' || selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Auto Increment'">
                      <input type = "number" [(ngModel)]="popUpAction.value">
                    </div>

                    <div *ngIf = "selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Date'">
                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="popUpAction.value">
                      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                    </div>

                    <div *ngIf = "selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Datetime'">
                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="popUpAction.value">
                      <owl-date-time #dt3></owl-date-time>
                    </div>

                    <div *ngIf = "selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Dropdown'">
                      <select [(ngModel)]="popUpAction.value">
                        <option *ngFor = "let value of selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].values">
                          {{value}}
                        </option>
                      </select>
                    </div>

                    <div *ngIf = "selectedTargetTable[popUpActionId].metadata[popUpAction.target_field].type === 'Checkbox'">
                      <input type = "checkbox" [(ngModel)]="popUpAction.value">
                    </div>
                  </div>
                </div>
                <div *ngIf="popUpAction.action_type === 'Set Value by Function'">
                  <label for = "valueFunction"></label>
                  <textarea id = "valueFunction" rows="4" cols="50" [(ngModel)]="popUpAction.value"></textarea>
                </div>
              </div>
              <br style="clear:both">
            </div>
          </div>
        </div>

        <div *ngIf = "popUpAction.action_type === 'Send Mail'">
          <div style = "margin-top: 0.5em">
            <div style = "width: 30%; float: left; font-weight: bold">
              Recipients
            </div>
            <div style = "width: 40%; float: left">
              <button type="button" class="btn btn-sm btn-secondary" (click)="onPopUpRecipient(modalRecipient, true, popUpActionId)">To...</button>
              <input style = "margin-left: 0.5em" type = "text" [(ngModel)]="recipients[popUpActionId]" disabled placeholder="Recipients">
            </div>
            <br style="clear:both">
          </div>

          <div style = "margin-top: 0.5em">
            <div style = "width: 30%; float: left; font-weight: bold">
              Subject
            </div>
            <div style = "width: 40%; float: left">
              <input type = "text" [(ngModel)]="popUpAction.subject" placeholder="Subject">
            </div>
            <br style="clear:both">
          </div>

          <div style = "margin-top: 0.5em">
            <div style = "width: 30%; float: left; font-weight: bold">
              Content
            </div>
            <div style = "width: 40%; float: left">
              <label for = "contentMail"></label>
              <textarea id = "contentMail" rows="4" cols="50" [(ngModel)]="popUpAction.content"></textarea>
            </div>
            <br style="clear:both">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="popUpAction.action_type === 'Set Value by Function'" class = "border-top" style = "margin-top: 1em">
      <div *ngIf="popUpAction.target_table && popUpAction.target_field" style = "margin-top: 1em">
        <div style = "margin-top: 0.5em">
          <div style = "width: 30%; float: left; font-weight: bold">
            Formula
          </div>
          <div style = "width: 40%; float: left">
            <ng-select [items]="listFormula"
                       appendTo="body"
                       placeholder="Formula"
                       [(ngModel)]="selectedFormula">
            </ng-select>
          </div>
          <div>
            <button type="button" class="btn btn-success" style = "margin-left: 0.5em" (click)="onAddFormula()">Add Formula</button>
          </div>
          <br style="clear:both">
        </div>

        <div>
          <div style = "width: 30%; float: left; font-weight: bold">
            Field
          </div>
          <div style = "width: 40%; float: left">
            <ng-select [items]="listFieldTarget[popUpActionId]"
                       bindLabel="field_name"
                       appendTo="body"
                       bindValue="field_id"
                       placeholder="Field"
                       [(ngModel)]="selectedField">
            </ng-select>
          </div>
          <div>
            <button type="button" class="btn btn-success" style = "margin-left: 0.5em" (click)="onAddFieldCode()">Add Field</button>
          </div>
          <br style="clear:both">
        </div>
      </div>
    </div>

    <div *ngIf="popUpAction.action_type === 'Send Mail'" class = "border-top" style = "margin-top: 1em">
      <div style = "margin-top: 0.5em">
        <div style = "width: 30%; float: left; font-weight: bold">
          Field
        </div>
        <div style = "width: 40%; float: left">
          <ng-select [items]="listFieldTrigger"
                     bindLabel="field_name"
                     appendTo="body"
                     bindValue="field_id"
                     placeholder="Field"
                     [(ngModel)]="selectedField">
          </ng-select>
        </div>
        <div>
          <button type="button" class="btn btn-success" style = "margin-left: 0.5em" (click)="onAddFieldCodeMail()">Add Field</button>
        </div>
        <br style="clear:both">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveAction()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalRecipient let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Recipients Selection</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body row">
      <div class="column-left">
        <div style = "text-align: center">
          <label style = "font-weight: bold">
            List Fields
          </label>
        </div>

        <ul ngbNav #nav="ngbNav" [(activeId)]="activeRecipient" class="nav-tabs">
          <li [ngbNavItem]= "0">
            <a ngbNavLink>Users</a>
            <ng-template ngbNavContent>
              <label class="btn-success" (click)="onAddRecipients()" ngbButtonLabel>Add Recipients</label>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">
                    <input type = "checkbox" [(ngModel)]="checkAll" (change) = "onCheckAll()">
                  </th>
                  <th scope="col">User Name</th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let user of listUsers, let id = index">
                  <td>
                    <input type = "checkbox" [(ngModel)]="user.checked">
                  </td>
                  <td>
                    {{user.name}}
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>

          <li [ngbNavItem]= "1">
            <a ngbNavLink>Roles</a>
            <ng-template ngbNavContent>
              <label class="btn-success" (click)="onAddRecipients()" ngbButtonLabel>Add Recipients</label>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">
                    <input type = "checkbox" [(ngModel)]="checkAll" (change) = "onCheckAll()">
                  </th>
                  <th scope="col">Role Name</th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let role of listRoles, let id = index">
                  <td>
                    <input type = "checkbox" [(ngModel)]="role.checked">
                  </td>
                  <td>
                    {{role.name}}
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>

          <li [ngbNavItem]= "2">
            <a ngbNavLink>Static Address</a>
            <ng-template ngbNavContent>
              <form class="text-center" style="color: #757575;" (ngSubmit)="onAddStaticAddress()" [formGroup]="staticAddressForm" ngNativeValidate>
                <input type = "email" formControlName="email" required>
                <button type="submit" class="btn btn-sm btn-secondary" style = "margin-left: 1em">Add Recipient</button>
              </form>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>

      <div class = "column-right border-left">
        <div style = "text-align: center">
          <label style = "font-weight: bold">
            List Recipients
          </label>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let recipient of listRecipients; let id = index">
            <td>
              {{id + 1}}
            </td>
            <td>
              {{recipient.name}}
            </td>
            <td>
              {{recipient.type}}
            </td>
            <td>
              <label class="btn" (click)="onDeleteRecipient(id)" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveRecipients()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
