body {
    margin: 0;
    padding: 0;
    background: url(src/assets/img/ericsson13.jpg) no-repeat;
    height: 120%;
    background-size: cover;
    background-position: center;
    margin-top: -1em;
    }
    
.example-form {
    min-width: 500px;
    max-width: 750px;
    width: 100%;
    margin: 20px;
    }
  
.example-full-width {
    width: 100%;
    }

.mat-form-field {
    margin-right: 5px;
    }
