<body>   
    <h1 style="margin-left: 20px;">Preventive Maintainance Information</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>PM PM ID:</mat-label>
            <input matInput  #pmID>
        </mat-form-field>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                <mat-label>Site:</mat-label>
                <input matInput #siteID>
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                <mat-label>Round:</mat-label>
                <input matInput >
                </mat-form-field></td>           
            </tr>
        </table>
        <mat-form-field class="example-full-width">
            <mat-label>ASP Name:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field color="accent" appearance="fill" style="margin-left: 3px;">
            <mat-label>Plan Date:</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
          
        <mat-form-field color="accent" appearance="fill">
            <mat-label>PM Date:</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill">
            <mat-label>ASP Fix Date::</mat-label>
            <input matInput [matDatepicker]="picker3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 color="primary"></mat-datepicker>
        </mat-form-field>
        <br>
        <span>PM Attach File:</span>
        <br>
        <br>
        <span>Incident Report Attach File:</span>
        <br>
        <br>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>BO HTE Name:</mat-label>
            <input matInput>
        </mat-form-field>       
        <mat-form-field appearance="fill">
            <mat-label>BO Check Date:</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="option-check">
            <mat-label>BO Check Result:</mat-label>
            <select matNativeControl required>
                <option value="vNone">None</option>
                <option value="vOK">OK</option>
                <option value="vNOK">NOK</option>
            </select>
        </mat-form-field>      
        <mat-form-field class="example-full-width">
            <mat-label>BO Check Comment:</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>FM Engineer:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>FM Check Date:</mat-label>
            <input matInput [matDatepicker]="picker4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="option-check">
            <mat-label>FM Check Result:</mat-label>
            <select matNativeControl required>
                <option value="vNone">None</option>
                <option value="vOK">OK</option>
                <option value="vNOK">NOK</option>
            </select>
        </mat-form-field> 
        <mat-form-field class="example-full-width">
            <mat-label>FM Check Comment:</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" (click) = "getValue(pmID, siteID)">Submit</button>
    </form>     
</body>
