<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Permissions</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="onChangeForm()" class="nav-tabs">
        <li [ngbNavItem]= "0">
          <a ngbNavLink>Form</a>
          <ng-template ngbNavContent>
            <div style = "text-align: center">Project:
              <label style = "width: 50%">
                <ng-select [items]="listProject"
                           bindLabel="Project Name"
                           appendTo="body"
                           bindValue="Project Name"
                           (change)="onSelectProject($event)">
                </ng-select>
              </label>
            </div>

            <br>

            <div *ngIf = "selectedProject">
              <label style="margin-right: 0.5em" class="btn-primary" (click)="onSaveRolesForm()" ngbButtonLabel>Save</label>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearchForm" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterForm()">
                  </th>
                  <th *ngFor = "let data of listFilteredForm" scope="col" style = "text-align: center">{{data.name}}</th>
                </tr>
                <tr>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearchRole" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterRole()">
                  </th>
                  <th scope="col" style = "text-align: center">
                    <label>
                      Select All
                    </label>
                  </th>
                  <th *ngFor = "let data of listFilteredForm" scope="col">
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of getListRoles(), let idRow = index">
                  <th>
                    {{role.name}}
                  </th>
                  <td style = "text-align: center">
                    <input type = "checkbox" [(ngModel)]="listCheckAllForms[getCurrentId(idRow)]" (change) = "onCheckAllForms(getCurrentId(idRow))">
                  </td>
                  <td *ngFor = "let data of listFilteredForm; let idCol = index">
                    <input type = "checkbox" [(ngModel)]="listSetRoleForm[role.name][data.name]">
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="listForm.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="20">20 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
            </div>

          </ng-template>
        </li>
        <li [ngbNavItem]= "1">
          <a ngbNavLink>Record Group</a>
          <ng-template ngbNavContent>
            <label style="margin-right: 0.5em" class="btn-primary" (click)="onSaveRolesRecordGroup()" ngbButtonLabel>Save</label>
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearchRg" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterRg()">
                  </th>
                  <th *ngFor = "let data of listFilteredRg" scope="col" colspan="4" style="text-align: center">
                    {{data.name}}
                  </th>
                </tr>
                <tr>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearchRole" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterRole()">
                  </th>
                  <th scope="col" style = "text-align: center">
                    <label>
                      Select All
                    </label>
                  </th>
                  <th *ngFor = "let data of getNumberColRecordGroup(); let id = index" scope="col">
                    <label *ngIf="id % 4 === 0">S</label>
                    <label *ngIf="id % 4 === 1">U</label>
                    <label *ngIf="id % 4 === 2">I</label>
                    <label *ngIf="id % 4 === 3">D</label>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of getListRoles(), let idRow = index">
                  <th>
                    {{role.name}}
                  </th>
                  <td style = "text-align: center">
                    <input type = "checkbox" [(ngModel)]="listCheckAllRgs[getCurrentId(idRow)]" (change) = "onCheckAllRgs(getCurrentId(idRow))">
                  </td>
                  <td *ngFor="let record of getNumberColRecordGroup(); let idCol = index">
                    <input *ngIf="idCol % 4 === 0" type = "checkbox" [(ngModel)]="listSetRoleRecordGroup[role.name][getCurrentColRg(idCol)].S">
                    <input *ngIf="idCol % 4 === 1" type = "checkbox" [(ngModel)]="listSetRoleRecordGroup[role.name][getCurrentColRg(idCol)].U">
                    <input *ngIf="idCol % 4 === 2" type = "checkbox" [(ngModel)]="listSetRoleRecordGroup[role.name][getCurrentColRg(idCol)].I">
                    <input *ngIf="idCol % 4 === 3" type = "checkbox" [(ngModel)]="listSetRoleRecordGroup[role.name][getCurrentColRg(idCol)].D">
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="listRoles.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="20">20 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
            </div>
          </ng-template>
        </li>

        <li [ngbNavItem]= "2">
          <a ngbNavLink>Field</a>
          <ng-template ngbNavContent>
            <div style = "text-align: center">Table:
              <label style = "width: 50%">
                <ng-select [items]="listTable"
                           bindLabel="name"
                           appendTo="body"
                           bindValue="name"
                           (change)="onSelectTable($event)">
                </ng-select>
              </label>
            </div>

            <br>

            <div *ngIf = "selectedTable">
              <label style="margin-right: 0.5em" class="btn-primary" (click)="onSaveRolesField()" ngbButtonLabel>Save</label>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearchField" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterField()">
                  </th>
                  <th *ngFor = "let data of listFilteredField" scope="col" colspan="2" style = "text-align: center">{{data.field_name}}</th>
                </tr>
                <tr>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearchRole" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterRole()">
                  </th>
                  <th scope="col" style = "text-align: center">
                    <label>
                      Select All
                    </label>
                  </th>
                  <th *ngFor = "let data of getNumberColField(); let id = index" scope="col">
                    <label *ngIf="id % 2 === 0">S</label>
                    <label *ngIf="id % 2 === 1">U</label>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of getListRoles(), let idRow = index">
                  <th>
                    {{role.name}}
                  </th>
                  <td style = "text-align: center">
                    <input type = "checkbox" [(ngModel)]="listCheckAllFields[getCurrentId(idRow)]" (change) = "onCheckAllFields(getCurrentId(idRow))">
                  </td>
                  <td *ngFor = "let field of getNumberColField(); let idCol = index">
                    <input *ngIf="idCol % 2 === 0" type = "checkbox" [(ngModel)]="listSetRoleField[role.name][getCurrentColField(idCol)].S">
                    <input *ngIf="idCol % 2 === 1" type = "checkbox" [(ngModel)]="listSetRoleField[role.name][getCurrentColField(idCol)].U">
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="listRoles.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="20">20 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </ng-template>

  </ngb-panel>
</ngb-accordion>
