<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Forms</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <div style = "text-align: center">
        <button *ngIf = "selectedProject" style = "float: left" type="button" class="btn btn-success" (click)="onPopUp(modalAddForm, false)">Add Form</button>
        <button *ngIf = "selectedProject" style = "margin-left: 0.5em; float: left" type="button" class="btn btn-primary" (click)="onSaveOrderForm()" ngbButtonLabel>Save</button>

        Project:
        <label style = "width: 50%">
          <ng-select [items]="listProject"
                     bindLabel="Project Name"
                     appendTo="body"
                     bindValue="Project Name"
                     (change)="onSelectProject($event)">
          </ng-select>
        </label>
      </div>

      <div *ngIf="selectedProject">
        <ul ngbNav #nav2="ngbNav" [(activeId)]="activeForm" class="nav-tabs" (activeIdChange)="onChangeForm()">
          <li *ngFor = "let form of listForm; let id = index" [ngbNavItem]= "id">
            <a ngbNavLink>{{form.name}}</a>
            <ng-template ngbNavContent>

              <div>
                <label style = "width: 30%; float: left"></label>
                <label style = "width: 150px; float: left; font-weight: bold">
                  Form Order
                </label>
                <label style = "margin-left: 0.5em">
                  <select [value]="activeForm + 1" (change)="onSelectOrderForm(activeForm, $event)">
                    <option *ngFor="let value of listForm; let number = index" [value] = "number + 1">
                      {{number + 1}}
                    </option>
                  </select>
                </label>
              </div>

              <div>
                <label style = "width: 30%; float: left"></label>
                <label style = "width: 150px; float: left; font-weight: bold">
                  Form Type
                </label>
                <label style = "margin-left: 0.5em">
                  {{form.form_type}}
                </label>
              </div>

              <div *ngIf="form.form_type === 'Multi Record View'">
                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left; font-weight: bold">
                    Table
                  </label>
                  <label style = "margin-left: 0.5em">
                    {{listTable[tableIndex].name}}
                  </label>
                </div>

                <label style = "margin-left: 0.5em" class="btn-primary" (click)="onPopUpEditSections(modalEditSections, true)" ngbButtonLabel>Edit Sections</label>
                <label style = "margin-left: 0.5em" class="btn-secondary" (click)="onPopUpEditForm(modalEditForm, false)" ngbButtonLabel>Edit Form</label>
                <label style = "margin-left: 0.5em" class="btn-danger" (click)="onPopUp(modalDeleteForm, false)" ngbButtonLabel>Delete Form</label>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="onChangeSection(false)">
                  <li *ngFor = "let section of form.sections; let id = index" [ngbNavItem]= "id">
                    <a ngbNavLink>{{section.name}}</a>
                    <ng-template ngbNavContent>
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Field Name</th>
                          <th scope="col">Field Type</th>
                        </tr>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">
                            <input style = "width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                          </th>
                          <th scope="col">
                            <input style = "width: 150px" [(ngModel)] = "listSearch.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor = "let data of listFilteredField, let idField = index">
                          <td>
                            {{idField + 1}}
                          </td>
                          <td>{{data.field_name}}</td>
                          <td>{{data.type}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>

              <div *ngIf="form.form_type === 'Master Detail View'">
                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left; font-weight: bold">
                    Master Table
                  </label>
                  <label style = "margin-left: 0.5em">
                    {{listTable[masterTableIndex].name}}
                  </label>
                </div>

                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left; font-weight: bold">
                    Detail Table
                  </label>
                  <label style = "margin-left: 0.5em">
                    {{listTable[detailTableIndex].name}}
                  </label>
                </div>

                <label style = "margin-left: 0.5em" class="btn-primary" (click)="onPopUpEditSections(modalEditSections, true)" ngbButtonLabel>Edit Sections</label>
                <label style = "margin-left: 0.5em" class="btn-secondary" (click)="onPopUpEditForm(modalEditForm, false)" ngbButtonLabel>Edit Form</label>
                <label style = "margin-left: 0.5em" class="btn-danger" (click)="onPopUp(modalDeleteForm, false)" ngbButtonLabel>Delete Form</label>
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeMasterDetail" (activeIdChange)="onChangeTableMasterDetail()" class="nav-tabs">
                  <li [ngbNavItem]= "0">
                    <a ngbNavLink>Master</a>
                    <ng-template ngbNavContent>
                      <ul ngbNav #nav1="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="onChangeSection(false)">
                        <li *ngFor = "let section of form.master_table_sections; let id = index" [ngbNavItem]= "id">
                          <a ngbNavLink>{{section.name}}</a>
                          <ng-template ngbNavContent>
                            <table class="table table-striped">
                              <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Field Name</th>
                                <th scope="col">Field Type</th>
                              </tr>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                  <input style = "width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                                </th>
                                <th scope="col">
                                  <input style = "width: 150px" [(ngModel)] = "listSearch.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                                </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor = "let data of listFilteredField, let idField = index">
                                <td>
                                  {{idField + 1}}
                                </td>
                                <td>{{data.field_name}}</td>
                                <td>{{data.type}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </ng-template>
                        </li>
                      </ul>

                      <div [ngbNavOutlet]="nav1" class="mt-2"></div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]= "1">
                    <a ngbNavLink>Detail</a>
                    <ng-template ngbNavContent>
                      <ul ngbNav #nav1="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="onChangeSection(false)">
                        <li *ngFor = "let section of form.detail_table_sections; let id = index" [ngbNavItem]= "id">
                          <a ngbNavLink>{{section.name}}</a>
                          <ng-template ngbNavContent>
                            <table class="table table-striped">
                              <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Field Name</th>
                                <th scope="col">Field Type</th>
                              </tr>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                  <input style = "width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                                </th>
                                <th scope="col">
                                  <input style = "width: 150px" [(ngModel)] = "listSearch.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                                </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor = "let data of listFilteredField, let idField = index">
                                <td>
                                  {{idField + 1}}
                                </td>
                                <td>{{data.field_name}}</td>
                                <td>{{data.type}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </ng-template>
                        </li>
                      </ul>

                      <div [ngbNavOutlet]="nav1" class="mt-2"></div>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>

            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav2" class="mt-2"></div>
      </div>
    </ng-template>

  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add New Form</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Form Name:
      </label>
      <label style="width: 40%; float: left">
        <input type="text" [(ngModel)]="newForm.name">
      </label>
      <br style="clear:both">
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Copy other Form:
      </label>
      <label style="width: 40%; float: left">
        <input type="checkbox" [(ngModel)]="newForm.is_copy_form">
      </label>
      <br style="clear:both">
    </div>

    <div *ngIf="newForm.is_copy_form">
      <div>
        <label style="width: 30%; float: left; font-weight: bold">
          Choose copy form:
        </label>
        <label style="width: 40%; float: left">
          <ng-select [items]="listForm"
                     bindLabel="name"
                     appendTo="body"
                     [(ngModel)]="newForm.copy_form">
          </ng-select>
        </label>
        <br style="clear:both">
      </div>
    </div>

    <div *ngIf="!newForm.is_copy_form">
      <div>
        <label style="width: 30%; float: left; font-weight: bold">
          Form Type:
        </label>
        <label style="width: 40%; float: left">
          <select [(ngModel)]="newForm.form_type">
            <option>Multi Record View</option>
            <option>Master Detail View</option>
          </select>
        </label>
        <br style="clear:both">
      </div>

      <div *ngIf = "newForm.form_type === 'Multi Record View'">
        <label style="width: 30%; float: left; font-weight: bold">
          Table:
        </label>
        <label style="width: 40%; float: left">
          <select [(ngModel)]="newForm.table_id">
            <option selected hidden></option>
            <option value = "{{table._id}}" *ngFor="let table of listTable; let id = index">
              {{table.name}}
            </option>
          </select>
        </label>
        <br style="clear:both">
      </div>

      <div *ngIf = "newForm.form_type === 'Master Detail View'">
        <div>
          <label style="width: 30%; float: left; font-weight: bold">
            Master Table:
          </label>
          <select [(ngModel)]="newForm.master_table_id" (change) = "onSelectMasterTableAddData()">
            <option selected hidden></option>
            <option [value] = "table._id" *ngFor="let table of listTable; let id = index">
              {{table.name}}
            </option>
          </select>
          <br style="clear:both">
        </div>

        <div *ngIf = "listDetailTable">
          <label style="width: 30%; float: left; font-weight: bold">
            Detail Table:
          </label>
          <select [(ngModel)]="newForm.detail_table_id">
            <option selected hidden></option>
            <option [value] = "table._id" *ngFor="let table of listDetailTable; let id = index">
              {{table.name}}
            </option>
          </select>
          <br style="clear:both">
        </div>
      </div>
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onAddForm()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Form</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Form Name: <input type="text" [(ngModel)]="selectedForm.name">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveForm()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDeleteForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-delete-form">Form deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete form <span class="text-primary">"{{selectedForm.name}}"</span> ?</strong></p>
    <p>All information associated to this form will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteForm()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditSections let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add-fields">Edit Sections</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="column-left">
      <div style = "text-align: center">
        <label style = "font-weight: bold">
          List Fields
        </label>
      </div>

      <label class="btn-success" (click)="onAddFields()" ngbButtonLabel>Add Fields</label>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">
            <input type = "checkbox" [(ngModel)]="checkAll" (change) = "onCheckAll()">
          </th>
          <th scope="col">Field Name</th>
          <th scope="col">Field Type</th>
          <th scopt="col"></th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <input [(ngModel)] = "listSearchSelect.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
          </th>
          <th scope="col">
            <input [(ngModel)] = "listSearchSelect.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let data of listFilteredFieldSelect, let idField = index">
          <td>
            <input type = "checkbox" [(ngModel)]="data.checked">
          </td>
          <td>
            {{data.field_name}}
          </td>
          <td>
            {{data.type}}
          </td>
          <td>
            <label *ngIf="data.type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, idField, true)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class = "column-right border-left">
      <div style = "text-align: center;">
        <label style = "font-weight: bold">
          Sections
        </label>
      </div>

      <label class="btn-success" (click)="onPopUp(modalAddSection, false)" ngbButtonLabel>Add Section</label>
      <label style = "margin-left: 0.5em" class="btn-primary" (click)="onSaveEditSections()" ngbButtonLabel>Save</label>
      <label style = "margin-left: 0.5em" class="btn-secondary" (click)="onAddBlank()" ngbButtonLabel>Add Blank Field</label>
      <label *ngIf = "activeEditSection !== 0" style = "margin-left: 0.5em" class="btn-danger" (click)="onPopUp(modalDeleteSection, false)" ngbButtonLabel>Delete Section</label>
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeEditSection" class="nav-tabs" (activeIdChange)="onChangeSection(true)">
        <ng-container *ngIf="selectedForm.form_type === 'Multi Record View'">
          <li *ngFor = "let section of selectedForm.sections; let id = index" [ngbNavItem]= "id">
            <a ngbNavLink>{{section.name}}</a>
            <ng-template ngbNavContent>
              <div>
                <label style = "width: 30%; float: left"></label>
                <label style = "width: 150px; float: left">
                  Section Name
                </label>
                <label style = "margin-left: 0.5em">
                  <input type = "text" [(ngModel)]="section.name" *ngIf = "section.name !== 'none_section'">
                  <label *ngIf = "section.name === 'none_section'">{{section.name}}</label>
                </label>
              </div>

              <div *ngIf = "section.name !== 'none_section'">
                <label style = "width: 30%; float: left"></label>
                <label style = "width: 150px; float: left">
                  Order
                </label>
                <label style = "margin-left: 0.5em">
                  <select [value]="activeEditSection + 1" (change)="onSelectSectionOrder(activeEditSection, $event)">
                    <ng-container *ngFor="let value of selectedForm.sections; let number = index">
                      <option *ngIf = "number !== 0" [value] = "number + 1">
                        {{number + 1}}
                      </option>
                    </ng-container>
                  </select>
                </label>
              </div>

              <div>
                <label style = "width: 30%; float: left"></label>
                <label style = "width: 150px; float: left">
                  Number of column
                </label>
                <label style = "margin-left: 0.5em">
                  <input type = "number" style = "width: 50px" [(ngModel)]="section.column">
                </label>
              </div>

              <table class="table table-striped table-scroll" cdkDropList (cdkDropListDropped)="drop($event)" style = "margin-top: 0.5em">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Field Name</th>
                  <th scope="col">Field Type</th>
                  <th scope="col">Display Name</th>
                  <th scope="col">View Only</th>
                  <th scope="col">Mandatory</th>
                  <th scope="col">
                    <a class="btn" (click)="onRemoveAllField()" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></a>
                  </th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <input [(ngModel)] = "listSearchEditField.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                  </th>
                  <th scope="col">
                    <input [(ngModel)] = "listSearchEditField.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                  </th>
                  <th scope="col">
<!--                    <input [(ngModel)] = "listSearchEditField.display_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">-->
                  </th>
                  <th scope="col">
                    <input type = "checkbox" [(ngModel)]="checkAllViewOnly" (change) = "onCheckAllViewOnly()">
                  </th>
                  <th scope="col">
                    <input type = "checkbox" [(ngModel)]="checkAllMandatory" (change) = "onCheckAllMandatory()">
                  </th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let data of listFilteredFieldSection, let idField = index">
                  <td cdkDrag>
                    <select [value]="idField + 1" (change)="onSelectSortId(idField, $event)">
                      <option *ngFor="let value of listFilteredFieldSection; let number = index" [value] = "number + 1">
                        <ng-container *ngIf="!section.column || section.column === 0">
                          <ng-container *ngIf = "number < 2">
                            1 - {{number + 1}}
                          </ng-container>
                          <ng-container *ngIf="number >= 2">
                            {{floorNumber(number / 2 + 1)}} - {{number % 2 + 1}}
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="section.column && section.column !== 0">
                          <ng-container *ngIf = "number < section.column">
                            1 - {{number + 1}}
                          </ng-container>
                          <ng-container *ngIf="number >= section.column">
                            {{floorNumber(number / section.column + 1)}} - {{number % section.column + 1}}
                          </ng-container>
                        </ng-container>
                      </option>
                    </select>
                  </td>
                  <td>
                    {{data.field_name}}
                  </td>
                  <td>
                    {{data.type}}
                  </td>
                  <td>
                    <label *ngIf = "data.field_name !== 'Blank'">
                      <input type = "text" [(ngModel)]="data.display_name" style = "width: 125px">
                    </label>
                  </td>
                  <td>
                    <label *ngIf = "data.field_name !== 'Blank'">
                      <input type = "checkbox" [(ngModel)]="data.view_only">
                    </label>
                  </td>
                  <td>
                    <input type = "checkbox" [(ngModel)]="data.mandatory">
                  </td>
                  <td>
                    <label *ngIf="data.type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, idField, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
                    <label class="btn" (click)="onDeleteField(idField)" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></label>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
        </ng-container>

        <ng-container *ngIf="selectedForm.form_type === 'Master Detail View'">
          <ng-container *ngIf="activeMasterDetail === 0">
            <li *ngFor = "let section of selectedForm.master_table_sections; let id = index" [ngbNavItem]= "id">
              <a ngbNavLink>{{section.name}}</a>
              <ng-template ngbNavContent>
                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left">
                    Section Name
                  </label>
                  <label style = "margin-left: 0.5em">
                    <input type = "text" [(ngModel)]="section.name" *ngIf = "section.name !== 'none_section'">
                    <label *ngIf = "section.name === 'none_section'">{{section.name}}</label>
                  </label>
                </div>

                <div *ngIf = "section.name !== 'none_section'">
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left">
                    Order
                  </label>
                  <label style = "margin-left: 0.5em">
                    <select [value]="activeEditSection + 1" (change)="onSelectSectionOrderMaster(activeEditSection, $event)">
                      <ng-container *ngFor="let value of selectedForm.master_table_sections; let number = index">
                        <option *ngIf = "number !== 0" [value] = "number + 1">
                          {{number + 1}}
                        </option>
                      </ng-container>
                    </select>
                  </label>
                </div>

                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left">
                    Number of column
                  </label>
                  <label style = "margin-left: 0.5em">
                    <input type = "number" style = "width: 50px" [(ngModel)]="section.column">
                  </label>
                </div>

                <table class="table table-striped" cdkDropList (cdkDropListDropped)="drop($event)">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Field Name</th>
                    <th scope="col">Field Type</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">View Only</th>
                    <th scope="col">Mandatory</th>
                    <th scope="col">
                      <a class="btn" (click)="onRemoveAllField()" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></a>
                    </th>
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">
                      <input [(ngModel)] = "listSearchEditField.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                    </th>
                    <th scope="col">
                      <input [(ngModel)] = "listSearchEditField.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                    </th>
                    <th scope="col">
                      <input [(ngModel)] = "listSearchEditField.display_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor = "let data of listFilteredFieldSection, let idField = index">
                    <td cdkDrag>
                      <select [value]="idField + 1" (change)="onSelectSortId(idField, $event)">
                        <option *ngFor="let value of listFilteredFieldSection; let number = index" [value] = "number + 1">
                          <ng-container *ngIf="!section.column || section.column === 0">
                            <ng-container *ngIf = "number < 2">
                              1 - {{number + 1}}
                            </ng-container>
                            <ng-container *ngIf="number >= 2">
                              {{floorNumber(number / 2 + 1)}} - {{number % 2 + 1}}
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="section.column && section.column !== 0">
                            <ng-container *ngIf = "number < section.column">
                              1 - {{number + 1}}
                            </ng-container>
                            <ng-container *ngIf="number >= section.column">
                              {{floorNumber(number / section.column + 1)}} - {{number % section.column + 1}}
                            </ng-container>
                          </ng-container>
                        </option>
                      </select>
                    </td>
                    <td>
                      {{data.field_name}}
                    </td>
                    <td>
                      {{data.type}}
                    </td>
                    <td>
                      <label *ngIf = "data.field_name !== 'Blank'">
                        <input type = "text" [(ngModel)]="data.display_name" style = "width: 125px">
                      </label>
                    </td>
                    <td>
                      <label *ngIf = "data.field_name !== 'Blank'">
                        <input type = "checkbox" [(ngModel)]="data.view_only">
                      </label>
                    </td>
                    <td>
                      <input type = "checkbox" [(ngModel)]="data.mandatory">
                    </td>
                    <td>
                      <label *ngIf="data.type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, idField, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
                      <label class="btn" (click)="onDeleteField(idField)" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
          </ng-container>

          <ng-container *ngIf="activeMasterDetail === 1">
            <li *ngFor = "let section of selectedForm.detail_table_sections; let id = index" [ngbNavItem]= "id">
              <a ngbNavLink>{{section.name}}</a>
              <ng-template ngbNavContent>
                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left">
                    Section Name
                  </label>
                  <label style = "margin-left: 0.5em">
                    <input type = "text" [(ngModel)]="section.name" *ngIf = "section.name !== 'none_section'">
                    <label *ngIf = "section.name === 'none_section'">{{section.name}}</label>
                  </label>
                </div>

                <div *ngIf = "section.name !== 'none_section'">
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left">
                    Order
                  </label>
                  <label style = "margin-left: 0.5em">
                    <select [value]="activeEditSection + 1" (change)="onSelectSectionOrderDetail(activeEditSection, $event)">
                      <ng-container *ngFor="let value of selectedForm.detail_table_sections; let number = index">
                        <option *ngIf = "number !== 0" [value] = "number + 1">
                          {{number + 1}}
                        </option>
                      </ng-container>
                    </select>
                  </label>
                </div>

                <div>
                  <label style = "width: 30%; float: left"></label>
                  <label style = "width: 150px; float: left">
                    Number of column
                  </label>
                  <label style = "margin-left: 0.5em">
                    <input type = "number" style = "width: 50px" [(ngModel)]="section.column">
                  </label>
                </div>

                <table class="table table-striped table-scroll" cdkDropList (cdkDropListDropped)="drop($event)">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Field Name</th>
                    <th scope="col">Field Type</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">View Only</th>
                    <th scope="col">Mandatory</th>
                    <th scope="col">
                      <a class="btn" (click)="onRemoveAllField()" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></a>
                    </th>
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">
                      <input [(ngModel)] = "listSearchEditField.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                    </th>
                    <th scope="col">
                      <input [(ngModel)] = "listSearchEditField.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                    </th>
                    <th scope="col">
                      <input [(ngModel)] = "listSearchEditField.display_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSection()">
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor = "let data of listFilteredFieldSection, let idField = index">
                    <td cdkDrag>
                      <select [value]="idField + 1" (change)="onSelectSortId(idField, $event)">
                        <option *ngFor="let value of listFilteredFieldSection; let number = index" [value] = "number + 1">
                          <ng-container *ngIf="!section.column || section.column === 0">
                            <ng-container *ngIf = "number < 2">
                              1 - {{number + 1}}
                            </ng-container>
                            <ng-container *ngIf="number >= 2">
                              {{floorNumber(number / 2 + 1)}} - {{number % 2 + 1}}
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="section.column && section.column !== 0">
                            <ng-container *ngIf = "number < section.column">
                              1 - {{number + 1}}
                            </ng-container>
                            <ng-container *ngIf="number >= section.column">
                              {{floorNumber(number / section.column + 1)}} - {{number % section.column + 1}}
                            </ng-container>
                          </ng-container>
                        </option>
                      </select>
                    </td>
                    <td>
                      {{data.field_name}}
                    </td>
                    <td>
                      {{data.type}}
                    </td>
                    <td>
                      <label *ngIf = "data.field_name !== 'Blank'">
                        <input type = "text" [(ngModel)]="data.display_name">
                      </label>
                    </td>
                    <td>
                      <label *ngIf = "data.field_name !== 'Blank'">
                        <input type = "checkbox" [(ngModel)]="data.view_only">
                      </label>
                    </td>
                    <td>
                      <input type = "checkbox" [(ngModel)]="data.mandatory">
                    </td>
                    <td>
                      <label *ngIf="data.type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, idField, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
                      <label class="btn" (click)="onDeleteField(idField)" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDropdownTable let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{dropDownTitle}} Content</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let data of listSelect; let idSelect = index; trackBy: trackBy">
      <label>
        {{listSelect[idSelect]}}
      </label>
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalTable let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-table">{{listField[selectedIndex].field_name}} Content</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style = "width: 50%; float: left">
      Number of Columns: <input type="number" [(ngModel)]="numCol">
    </div>
    <div style = "width: 50%; float: left">
      Number of Rows: <input type="number" [(ngModel)]="numRow">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalAddSection let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Section</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Section Name:
      </label>
      <label style="width: 40%; float: left">
        <input type="text" [(ngModel)]="newSection.name">
      </label>
      <br style="clear:both">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onAddSection()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDeleteSection let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Section deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf = "selectedForm.form_type === 'Multi Record View'"><strong>Are you sure you want to delete section <span class="text-primary">"{{selectedForm.sections[activeEditSection].name}}"</span> ?</strong></p>
    <ng-container *ngIf="selectedForm.form_type === 'Master Detail View'">
      <p *ngIf = "activeMasterDetail === 0"><strong>Are you sure you want to delete section <span class="text-primary">"{{selectedForm.master_table_sections[activeEditSection].name}}"</span> ?</strong></p>
      <p *ngIf = "activeMasterDetail === 1"><strong>Are you sure you want to delete section <span class="text-primary">"{{selectedForm.detail_table_sections[activeEditSection].name}}"</span> ?</strong></p>
    </ng-container>
    <p>All information associated to this form will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteSection()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
