@import "~bootstrap/scss/bootstrap";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.customModalClassBig .modal-dialog {
  max-width: 90%;
}

div {
  word-wrap: break-word;
}

label {
  word-wrap: break-word;
}

.border-top {
  border-top: 0.5px solid #9ea2a2 !important;
}

.border-left {
  border-left: 0.5px solid #9ea2a2 !important;
}

.border-right {
  border-right: 0.5px solid #9ea2a2 !important;
}

.border-bottom {
  border-bottom: 0.5px solid #9ea2a2 !important;
}

.table-scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// remove arrow on input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
