<ngb-carousel style="text-align: center">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src = "../../assets/img/ericsson2.jpg" alt="Random first slide" style="width: 90%; height: 90vh">
    </div>
    <div class="carousel-caption">
      <h3>Vietnam Project DB</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src = "../../assets/img/ericsson6.jpg" alt="Random second slide" style="width: 90%; height: 90vh">
    </div>
    <div class="carousel-caption">
      <h3>Vietnam Project DB</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src = "../../assets/img/ericsson5.jpg" alt="Random third slide" style="width: 90%; height: 90vh">
    </div>
    <div class="carousel-caption">
      <h3>Vietnam Project DB</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src = "../../assets/img/ericsson9.jpg" alt="Random fourth slide" style="width: 90%; height: 90vh">
    </div>
    <div class="carousel-caption">
      <h3>Vietnam Project DB</h3>
    </div>
  </ng-template>
</ngb-carousel>
