<table>
<tr>
    <td>
        <label class = "btn btn-primary" style = "margin-left: 30px;" (click)="onAddFilterTable()" ngbButtonLabel>Add Table</label>
        <hr>
    </td>
    <td>
        <label class = "btn btn-primary" style = "margin-left: 300px;" (click) = "open(content)" ngbButtonLabel>Select Field</label>
        <hr>
    </td>
    <td>
        <label class = "btn btn-primary" style = "margin-left: 300px;" ngbButtonLabel>List Field</label>
        <hr>
    </td>
</tr>
<tr *ngFor="let data of listFilterTable, let id = index">
    <td>
        <ng-select [items]="listTable"
                     bindLabel="name"
                     appendTo="body"
                     bindValue="name"
                     (change)="onSelectTable($event)">
          </ng-select>
          <br>
    </td>
    <td>
        <label class = "btn btn-success" style = "margin-left: 300px;" ngbButtonLabel>Select Field</label>
    </td>
</tr>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">List File In Server</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
              [(ngModel)]="listFilterCheck[0]" (change)="onFilterColumnAll()">
                {{task.name}}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of task.subtasks, let id = index">
                  <mat-checkbox [(ngModel)]="listFilterCheck[id + 1]">
                    {{subtask}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); onListSelect()">Save</button>
    </div>
  </ng-template>