/* Style buttons */
.btn_icon {
    // background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  .btn_slidebar {
    // background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  /* Darker background on mouse-over */
  .btn_icon:hover {
    background-color: RoyalBlue;
  }
  .btn_slidebar:hover {
    background-color: RoyalBlue;
  }