<ng-template [ngIf]="lessons" [ngIfElse]="upload_1">
    <div class="lessons-list">
    </div>
 </ng-template>
 
 <ng-template #upload_1>
     <h2 style = "text-align: center"> UPLOAD ATTACHED FILE</h2>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div style = "text-align: center">Sellect Database Server:
                <br>
                <label style = "width: 50%">
                  <ng-select [items]="listServer"
                             bindLabel="Project Name"
                             appendTo="body"
                             bindValue="Project Name"
                             (change)="onSelectServer($event)">
                  </ng-select>
                </label>
            </div>
            <hr>
        </div>

        <div class="col">
            <div style = "text-align: center">Sellect Folder In Server:
                <br>
                <input style = "width: 1000px" type = "text" (mouseleave) = "onSelectFolder($event)">
            </div>
            <hr>
        </div>
                <!-- <pre>Model: {{ model | json }}</pre> -->
            <div class="col">
                <div style = "text-align: center"> Sellect Attached File:
                    <br>
                    <label style = "width: 50%">
                        <input type="file" id="input_file_upload" multiple (change)="onFileChange($event)">
                    </label>
                    <label style = "width: 50%">
                        <button (click)="open(content)">Choose File In Server</button>
                    </label>
                    <hr>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class = "col" style = "text-align: center; width: 50%">
            <!-- <input style="font-size:15px;width: 300px; color:rgb(114, 113, 113);height:500px;background-color:#e9e9e9"> -->
            <ngb-accordion style = "margin-left: 30px" [closeOthers]="true" activeIds="static-1">
                <ngb-panel  id="static-1" title="GET LINK">
                    <ng-template ngbPanelContent>
                        <div *ngFor="let fileName of listLink;let id = index">
                        {{listLink[id]}}
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
  
    <div class="row">
        <br>
        <br>
        <div class = "col" style = "text-align: center; width: 50%">
            <label style = "text-align: center " class="btn-primary" (click)="getLink()" ngbButtonLabel>Get Link</label>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
        <div class = "col" style = "text-align: center; width: 50%">
            <label style = "text-align: center " class="btn-primary" (click)="copyMessage()" ngbButtonLabel>   Copy   </label>
        </div>
    </div>
 </ng-template>
 <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">List File In Server</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
              [(ngModel)]="listFilterCheck[0]" (change)="onFilterColumnAll()">
                {{task.name}}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of task.subtasks, let id = index">
                  <mat-checkbox [(ngModel)]="listFilterCheck[id + 1]">
                    {{subtask}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); onListSelect()">Save</button>
    </div>
  </ng-template>
  