@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  margin: 0;
  padding: 0;
  background: url(src/assets/img/ericsson12.jpg) no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -1em;
}

/* Login Form*/
/* ======================= */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }

    button:hover {
        opacity: 0.7;
      }
    
    /* Extra styles for the signup button */
    .signupbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
      font-size: 12px;
      }
      
    .container {
      padding: 4px;
      opacity: 0.8;
      }
      
    span.psw {
      float: right;
      padding-top: 5px;
      font-size: 15px;
      }
    
    /* The Modal Login */

    .login-box {  
        position: absolute;
        height: 370px;
        width: 500px;
        margin: -100px 0 0 -200px;
        top: 20%;
        left: 50%;
      border: 2px solid #f3f5f2;
    }
    label {
      color:  white;
    }
    
    label#uname, label#psw {
      color: white;
    }
